.mt-10 {
    margin-top: 10px;
}

.flex {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.mt-20 {
    margin-top: 20px;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.markdown{
    z-index: 1!important;
}
